#Secrets
/id_rsa
/id_rsa.pub
#IntelliJ IDEA
/.idea/**
*.iml

# Gradle
/.gradle/**
/.android/**
/local.properties
/build
/com
/api/build
/gen-libs/build
/captures
/projectFilesBackup
local.properties

# General
.DS_Store
